#![no_main]

extern crate libfuzzer_sys;

use libfuzzer_sys::fuzz_target;
use {{ crate_name }}{{ import_path }};

fuzz_target!(|data: &[u8]| {
    // fuzzed code goes here
    if let Ok(input) = std::str::from_utf8(data) {
        {{ usage_path }}(input);
    }
});